/* ============================
   APP LAYOUT
============================ */

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
}

#root {
    min-height: 100vh;
}

.app {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.app__main {
    flex: 1;
   
}